@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p style="font-size:5vw">El github de este proyecto es: <a href="https://github.com/JMoreno97/TFM_dotNET">Ejemplo de uso ASP.NET MVC</a>.</p>
</div>
